 <!DOCTYPE html> 
 <html lang='en'> 
 <head> 
    <meta charset="utf-8" /> 
    <title>
    {% block title %}{% endblock %}
    </title> 
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"> </script>
    {% block head %}
    {% endblock %}
</head>
<body> 
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/register" class="pure-menu-link">Register</a>
        </li>
        <li class="pure-menu-item">
            <a href="/retrieve" class="pure-menu-link">Get info</a>
        </li>
    </ul>
</div>
    {% block body %}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/error.js') }}"> </script>
</body> 
</html>
