{% extends "base_app/base.html" %}
{% block title %}
Register for classes!
{% endblock %}
{% block head %}
<meta id="error" data="{{error}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}" > </script>
{% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
        <form action="/register" method="post" class="pure-form pure-form-stacked" onsubmit="return validateForm()">
            <fieldset>
                <legend>Summer 2016 Sign-Up Form</legend>

                <label for="IDNumber">Student ID #</label>
                <input name="sid" id="IDNumber" type="number" placeholder="Student ID #" required/>

                <label for="phoneNumber">Phone Number</label>
                <input name="phone" id="phoneNumber" type="tel" placeholder="(234) 567-8900" required/>

                <label for="schoolClassName">Class Name</label>
                <input name="classname" id="schoolClassName" type="text" placeholder="Algebra I" required/>

                <button type="submit" class="pure-button pure-button-primary">Sign up</button>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-6"></div>
</div>
{% endblock %}  
