{% extends "base_app/base.html" %}
{% block title %}
Retrieve your schedule!
{% endblock %}
{% block head %}
<meta id="error" data="{{error}}">
<meta id="success" data="{{success}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/retrieve.js') }}" > </script>
{% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
        <form action="/retrieve" method="post" class="pure-form pure-form-stacked" onsubmit="return validateForm()">
            <fieldset>
                <legend>Retrieve your Summer 2016 class registration here!</legend>

                <label for="phoneNumber">Phone Number</label>
                <input name="phone" id="phoneNumber" type="tel" placeholder="(234) 567-8900" required/>

                <button type="submit" class="pure-button pure-button-primary">Retrieve</button>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-6"></div>
</div>
{% endblock %}  
