{% extends "base_app/base.html" %}
{% block title %}
Verify your 2 factor code
{% endblock %}
{% block head %}
<meta id="error" data="{{error}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/verify.js') }}" > </script>
{% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
        <form action="{{post_url}}" method="post" class="pure-form pure-form-stacked" onsubmit="return validateForm()">
            <fieldset>
                <legend>Enter your verification code!</legend>
                <p>{{legend}}</p>
                <input name="sid" type="hidden" value="{{data_dict['sid']}}"></input>
                <input name="phone" type="hidden" value="{{data_dict['phone']}}"></input>
                <input name="classname" type="hidden" value="{{data_dict['classname']}}"></input>


                <label for="verificationCode">Verification Code</label>
                <input name="verificationCode" id="verificationCode" type="text" placeholder="23423" required/>

                <button type="submit" class="pure-button pure-button-primary">{{buttontext}}</button>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-6"></div>
</div>
{% endblock %}  
