{% extends "base_app/base.html" %}
{% block title %}
Retrieve your schedule!
{% endblock %}
{% block head %}
<meta id="error" data="{{error}}">
<script type="text/javascript" src="{{ url_for('static', filename='js/retrieve.js') }}" > </script>
{% endblock %}
{% block body %}
<div class="pure-g">
    <div class="pure-u-1-6"></div>
    <div class="pure-u-2-3">
	<table class="pure-table pure-table-bordered">
		<thead>
		    <tr>
		        <th>Student ID</th>
		        <th>Class Name</th>
		    </tr>
		</thead>
	    
		<tbody>
		    {% for registration in data_dict %}
		    <tr>
		        <td>{{registration['student_id']}}</td>
		        <td>{{registration['class_name']}}</td>
		    </tr>
		    {% endfor %}
		</tbody>
	    </table>
	    </div>
    <div class="pure-u-1-6"></div>
</div>
{% endblock %}  
